---
date: 2016-01-24 00:00:00 +0100
layout: page
permalink: /tags/
title: "Tags"
---

<!-- you can see what this produces at http://divillysausages.com/tags/ -->

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}
<ul id="tag-list">{% for item in (0..site.tags.size) %}{% unless forloop.last %}{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
	<li><a href="#{{ this_word | cgi_escape }}" class="tag">{{ this_word }} <span class="tag-count">{{ site.tags[this_word].size }}</span></a></li>{% endunless %}{% endfor %}
</ul>

{% for item in (0..site.tags.size) %}{% unless forloop.last %}
{% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
<h3 id="{{ this_word | cgi_escape }}">{{ this_word }}</h3>
<ul class="tag-posts">{% for post in site.tags[this_word] %}
	<li><span class="post-date"><time datetime="{{ post.date | date: '%F %H:%M' }}">{{ post.date | date: '%b %d %Y' }}</time></span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>{% endfor %}
</ul>
{% endunless %}
{% endfor %}